<div style='margin:auto'>
  <%= form_for(@user, url: login_post_path) do |f| %>
    <%= render partial: "layouts/errors", locals: {model: @user}%>

    <div><%= f.label :email %></div>
    <div><%= f.text_field :email, required: true %></div>
    <div><%= f.label :password %></div>
    <div><%= f.password_field :password, required: true %></div>
    <%= f.hidden_field :provider, :value => 'none', readonly: true %>
    <%= f.submit %>

  <% end %>

  <div><%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %></p></div>
</div>