<h1>Train details</h1>

<%= render partial: "layouts/errors", locals: { model: @train } %>

<% if @train.errors.empty? %>
  <div>
    Name: <%= @train.name %>
    Origin: <%= @train.from %>
    Destination: <%= @train.to %>
    Seats available: <%= @train.capacity.to_s %>
  </div>

  <% if @username == "admin" %>
    <%= link_to "Edit Train", edit_train_path(@train) %>
    <%= link_to "Delete Train", train_path(@train), method: :delete %>
  <% end %>
<% end %>