<h1>All users</h1>

<%= render partial: "layouts/error", locals: {model: @users} %>

<% if @users.errors.nil? then %>
  <% @users.each do |user| %>
    <div><%= "Name: " + user.name %></div>
    <div><%= "Email: " + user.email %></div>
    <div><%= "Provider: " + user.provider %></div>
    <div><%= "UID: " + (!user.uid.nil? ? user.uid.to_s : '') %></div>
  <% end %>
<% end %>