<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>
  <div><%= f.label :email %></div>
  <div><%= f.text_field :email %></div>
  <div><%= f.label :password %></div>
  <div><%= f.text_field :password %></div>
  <%= f.hidden_field :provider, :value => 'none', readonly: true %>
  <%= f.submit %>
<% end %>