<h1><%= !params[:message].nil? ? params[:message]  : '' %></h1>

<h1><%= @user.name == 'admin' ? 'ADMIN' : @user.name %></h1>
<% if @user.name != 'admin' then %>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
<% end %>

<h3>Trips booked</h3>
<% if @trips.nil? then %>
  <div>No trips available for the user!</div>
<% else %>
  <% @trips.each do |trip| %>
    <h1>Trip <%= trip.id %></h1>
    <div>Train: <%= link_to trip.train.name, train_path(trip.train) %></div>
    <div>User: <%= link_to trip.user.name, user_path(trip.user) %></div>
    <div>Date: <%= trip.date.to_s %></div>
  <% end %>
<% end %>